pre {
	padding: 1em;
	margin: 0 -1em;
}

p > img,
table {
	max-width: calc(100%);
	margin: 0 auto;
}
table th,
table td {
	overflow-wrap: break-word;
}
table td:first-child {
	line-break: loose;
	word-break: break-all;
}
